@page "/servers"
@rendermode InteractiveServer

<h3>Servers</h3>
<br />
<br />

<CityListComponent @ref="cityListComponent"
                   SelectCityCallback="HandleCitySelection">
</CityListComponent>

<br />


<ServerSearchComponent @ref="serverSearchComponent"
                       SetSearchFilterCallback="HandleSearch">
</ServerSearchComponent>

<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent @rendermode="InteractiveServer"
                         CityName="@selectedCity"
                         SearchFilter="@searchFilter">
    </ServerListComponent>
</CascadingValue>

<br />
<a href="/servers/add" class="btn btn-primary">Add Server</a>



@code {
    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private CityListComponent? cityListComponent;
    private ServerSearchComponent? serverSearchComponent;

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;

        this.searchFilter = String.Empty;
        serverSearchComponent?.ClearFilter();
    }

    private void HandleSearch(string serverFilter)
    {
        this.searchFilter = serverFilter;
        cityListComponent?.ClearSelection();
    }
}
