@page "/todolist"
@rendermode InteractiveServer

<style type="text/css">
    ul {
        list-style: none;
        padding-left: 0;
    }

    ​</style>

<h3>To Do List</h3>
<br />

<button type="submit" class="btn btn-primary" @onclick="AddTask">Add Task</button>

<br />
<br />

@if (tasks != null && tasks.Count > 0)
{
    <ToDoListComponent Tasks="@tasks">
    </ToDoListComponent>
}


@code {
    private Models.ToDoItem task { get; set; } = new Models.ToDoItem();
    private List<Models.ToDoItem> tasks = ToDoRepo.GetTasks();

    private void AddTask()
    {
        ToDoRepo.AddTask();
        tasks = ToDoRepo.GetTasks();
    }

}
