@if (Tasks != null && Tasks.Count > 0)
{
    <table class="table table-striped">
        <RepeaterComponent Items="this.Tasks">
            <Row Context="task">
                <ToDoItemComponent Task="task">
                </ToDoItemComponent>
            </Row>
        </RepeaterComponent>
    </table>
}
@code {
    [Parameter]
    public List<ToDoItem>? Tasks { get; set; }

}
