@if (cities != null && cities.Count > 0)
{
    <div class="container-fluid text-center">
        <div class="row w-50">
            @foreach (var city in cities)
            {
                <CityComponent 
                    City="@city"
                    SelectedCity="@selectedCity"
                    SelectCityCallback="HandleCitySelection"></CityComponent>
            }
        </div>
    </div>
}
@code {
    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    public void ClearSelection()
    {
        selectedCity = string.Empty;
    }

    private List<String> cities { get; set; } = CitiesRepository.GetCities();

    private string selectedCity = "Toronto";

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        SelectCityCallback.InvokeAsync(cityName);
    }

}
